.navbar {
    width: 100%;
    height: 68px;
    padding: 20px 10px;
    background-color: rgb(225, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .title{
    font-size: 20pt;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
