.navbar {
    width: 100%;
    height: 68px;
    padding: 20px 10px;
    background: linear-gradient(to right,RED,
    ORANGE
    ,
    YELLOW
    ,
    GREEN
    ,
    BLUE
    ,
    INDIGO
    ,
    VIOLET);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .title{
    font-size: 20pt;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.navbar a:hover{
    color:blue;
    height:68px;
}

.main{
    width:100%;
    height:400px;
    background-color:rgb(22, 21, 21);
    text-align:center;
    color:white;
}

.main h2{
    margin-top:25px;
}

footer{
    width:100%;
    height:175px;
    background-color:rgb(86, 86, 86);
}

footer span{
    display:block;
    text-align:center;
}